{% extends "base.html" %}

{% block meta %}
<meta name="author" content="{{ article.author.name }}" />
<meta name="description" content="{{ article.summary|striptags|escape }}" />
<meta name="keywords" content="{{ article.tags|join(', ')|escape }}">

{% endblock %}

{% block title %} &ndash; {{ article.title|striptags|escape }}{% endblock %}
{% block content %}
<div class="row">
  <div class="col">
    <p class="f5 silver">{{article.locale_date}} | category: <a href="{{SITEURL}}/{{article.category.url}}" class="badge badge-pill badge-primary">{{article.category}}</a></p>
  </div>
</div>
{{article.content}}

<div class="row">
    <div class="col">
      {% if article.tags %}
      <p class="f5 silver">Tags: 
    {% for tag in article.tags %}
        <a href="{{SITEURL}}/{{tag.url}}" class="badge badge-pill badge-primary">{{tag}}</a>
	{% endfor %}
	</p>
    {% endif %}
    </div>
</div>
{% endblock %}
